@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
}
.bg-darkblue{
    background-color: rgb(3, 44, 121);
  }
.carousel-item{
    height: 100vh;
    min-height:300px;
    background: no-repeat center center  scroll;
    -webkit-backgroung-size:cover;
    background-size: cover;
}
.carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 15rem;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 5rem;
        color: #fff;
        text-align: center;
    }
    
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:25px;
    
}
.carousel-caption p{
    width:60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.0;
    
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1,1);
    }
    to {
        -webkit-transform: scale(1.5,1.5);
    }
}
@keyframes zoom {
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(1.5,1.5);
    }
}
.carousel-inner .carousel-item > img {
    -webkit-animation: zoom 10s;
    animation: zoom 15s infinite;
    
} 
.navbar-nav a{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}
/* .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color: white;
} */

.navbar-light .navbar-nav .nav-link{
    color:white;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    color: white;
    padding: .2rem 1.5rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:white !important;
    background: rgba(0,0,0,0.4);
    border-radius: 30px;
}
.w-100{
    height: 100vh;
}
@media only screen and (max-width:900px) { 
    .navbar-nav.ms-auto{
        background:rgba(0,0,0,0.5);
    }
    .navbar-toggler{
        padding: 1px 5px;
        font-size:18px;
        line-height: 0.3;
        background:#fff;
    }
    .carousel-caption{
        z-index: 10;
    }
    .carousel-caption p{
        margin-bottom: 20%;
        font-size: 20px;
        line-height: 1.4;
    }
} 


/* footer home */
.footer{
    background: #152F4F;
    color:white;
  }  
  /* footer home ends */

 
  


  
